<!DOCTYPE html>
<html>
<head>
  <title>Testeng</title>
  <%= stylesheet_link_tag    "testeng/application", media: "all" %>
  <%= javascript_include_tag "testeng/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
